run = "php artisan serve --host=0.0.0.0 --port=8000"
entrypoint = "index.php"

[nix]
channel = "stable-23_11"

[deployment]
run = "php artisan serve --host=0.0.0.0 --port=8000"

[languages.php]
runtime = "php82"
